body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.container {
    margin-top: 20px;
}

.centered-images img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

h1, h4, h5, h6 {
    margin: 10px 0;
    text-align: center;
}

.form-section {
    border: 1px solid #dee2e6;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section h5 {
    font-size: 1.1em;
}

.text-center {
    text-align: center;
}

.radio-inline label,
.checkbox-inline label {
    margin-right: 15px;
}

.table-container {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

.table-container th,
.table-container td {
    border: 1px solid #dee2e6;
    text-align: center;
    padding: 10px;
}

.nav-links a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

